<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/Themes/flex-slider.css" />
    <include path="~/Content/Themes/fontawesome.css" />
    <include path="~/Content/Themes/owl.css" />
    <include path="~/Content/Themes/templatemo-style.css" />
    <include path="~/Content/callout.css" />
    <include path="~/Content/Paginador.css" />
  </styleBundle>
</bundles>